<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="row mb-5 d-flex justify-content-between">
          <div class="col-lg-4">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCrear"
              data-whatever="@mdo">
              <i class="fa fa-plus-square"></i> Registrar</button>
          </div>
           <div class="col-lg-8">
            <app-buscar-personas (search)="buscar($event)"></app-buscar-personas>
          </div>
        </div>
      </div>
    </div>
<app-table-material
  [columnas]="columnasPersonal"
  [totalRegistros]="total"
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 20, 30, 50]"
  (pageChange)="cambiarPagina($event)"
  (editar)="editar($event)"
  (eliminar)="eliminar($event)"
>

</app-table-material>

<div class="modal fade" id="modalCrear" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bold;">REGISTRAR PERSONAL</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="personalForm">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Dni:</label>
            <input type="text" class="form-control" id="recipient-name" formControlName="dni" maxlength="8">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Nombre:</label>
            <input type="text" class="form-control" id="recipient-name" formControlName="nombre">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Apellido:</label>
            <input type="text" class="form-control" id="recipient-name" formControlName="apellido">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Escalafon:</label>
            <input type="text" class="form-control" id="recipient-name" formControlName="escalafon">
          </div>
          <div class="form-group">
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Fecha inicio:</label>
              <input class="form-control" type="date" id="example-date-input" formControlName="fecha_inicio">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelar()">Cancelar</button>
        <button type="button" class="btn btn-primary" id="registrar" (click)="registrarPersonal()"
          [disabled]="personalForm.invalid">Registrar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalEditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bold;">EDITAR PERSONAL</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" maxlength="8">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="personalEditarForm">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Dni:</label>
            <input type="text" class="form-control" id="recipient-name" formControlName="dni">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Nombre:</label>
            <input type="text" class="form-control" id="recipient-name" formControlName="nombre">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Apellido:</label>
            <input type="text" class="form-control" id="recipient-name" formControlName="apellido">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Escalafon:</label>
            <input type="text" class="form-control" id="recipient-name" formControlName="escalafon">
          </div>
          <div class="form-group">
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Fecha inicio:</label>
              <input class="form-control" type="date" id="example-date-input" formControlName="fecha_inicio">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelar()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="editarPersonal()"
          [disabled]="personalEditarForm.invalid">Editar</button>
      </div>
    </div>
  </div>
</div>