<mat-card class="mb-1">
    <mat-card-content>
        <div class="row d-flex justify-content-end">
            <div class="col-lg-6 d-flex ">
                <select class="form-control custom-select" (change)="mostrarTipo($event)">
                    <option value="1" selected>Activo</option>
                    <option value="0">Inactivo</option>
                </select>
                <button type="button" class="btn btn-primary ml-1" data-toggle="modal" data-target="#modalPersonal"
                    data-whatever="@mdo">
                    <i class="fa fa-plus-square"></i> Registrar</button>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-content>
        <div>
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="titulo">
                    <th mat-header-cell *matHeaderCellDef> Titulo SubMenu</th>
                    <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
                </ng-container>
                <ng-container matColumnDef="submenu">
                    <th mat-header-cell *matHeaderCellDef> Nombre SubMenu </th>
                    <td mat-cell *matCellDef="let element"> {{element.subMenu}} </td>
                </ng-container>
                <ng-container matColumnDef="nommenu">
                    <th mat-header-cell *matHeaderCellDef> Nombre Menu </th>
                    <td mat-cell *matCellDef="let element"> {{element.menu.nomMenu}} </td>
                </ng-container>
                <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef> Estado </th>
                    <td mat-cell *matCellDef="let element">
                        <p class="text-primary" *ngIf="element.estado">Activo</p>
                        <p class="text-danger" *ngIf="!element.estado">Inactivo</p>
                    </td>
                </ng-container>
                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell *matCellDef="let element">
                        <a class="btn btn-warning mr-1" (click)="obtenerDatos(element)" data-toggle="modal"
                            data-target="#EditarSubMenu" data-whatever="@mdo"> <i class="fa fa-edit"></i> </a>
                        <a class="btn btn-danger" *ngIf="element.estado" (click)="eliminar(element.idSubMenu,0)"> <i
                                class="fa fa-lock"></i> </a>
                        <a class="btn btn-danger" *ngIf="!element.estado" (click)="eliminar(element.idSubMenu,1)"> <i
                                class="fa fa-unlock"></i> </a>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>
        </div>
    </mat-card-content>
</mat-card>

<!-- MODAL CREAR -->
<div class="modal fade" id="modalPersonal" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bold;">REGISTRAR MENU</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="subMenuForm">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Nombre del Menu:</label>
                        <input type="text" class="form-control" id="recipient-name" formControlName="subMenu">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Titulo:</label>
                        <input type="text" class="form-control" id="recipient-name" formControlName="titulo">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Seleccionar Menu</label>
                        <select class="form-control" id="exampleFormControlSelect1" formControlName="idMenu">
                            <option value="">----Seleccione----</option>
                            <option *ngFor="let item of listMenu" value="{{item.idMenu}}">{{item.nomMenu}}</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    (click)="cancelar()">Cancelar</button>
                <button type="button" class="btn btn-primary" id="registrar" (click)="registrarSubMenu()"
                    [disabled]="subMenuForm.invalid">Registrar</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL EDITAR -->
<div class="modal fade" id="EditarSubMenu" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bold;">EDITAR MENU</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="subMenuEditForm">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Nombre del SubMenu:</label>
                        <input type="text" class="form-control" id="recipient-name" formControlName="subMenu">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Titulo:</label>
                        <input type="text" class="form-control" id="recipient-name" formControlName="titulo">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Seleccionar Menu</label>
                        <select class="form-control" id="exampleFormControlSelect1" formControlName="idMenu">
                            <option value="">----Seleccione----</option>
                            <option *ngFor="let item of listMenu" value="{{item.idMenu}}">{{item.nomMenu}}</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    (click)="cancelar()">Cancelar</button>
                <button type="button" class="btn btn-primary" id="registrar" (click)="editarSubMenu()"
                    [disabled]="subMenuEditForm.invalid">Editar</button>
            </div>
        </div>
    </div>
</div>
