
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
<div class="row mb-5 d-flex justify-content-between">
  <div class="col-lg-4">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalDependencia" data-whatever="@mdo">
      <i class="fa fa-plus-square"></i> Registrar</button>
  </div>
  <div class="col-lg-3">
    <div class="form-group">
      <select class="form-control custom-select" (change)="mostrarUnidadTipo($event)">
        <option value="1" selected>Habilitados</option>
        <option value="0">Deshabilitados</option>
      </select>
    </div>
  </div>
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col" class="text-center">Id</th>
        <th scope="col" class="text-center">Nombre</th>
        <th scope="col" class="text-center">Sigla</th>
        <th scope="col" class="text-center">Nombre Organo Jurisdiccional</th>
        <th scope="col" class="text-center">Estado</th>
        <th class="text-center">Editar</th>
        <th class="text-center">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let unidad of listUnidad!">
        <th scope="row" class="text-center">{{unidad.id}}</th>
        <td>{{unidad.nombre}}</td>
        <td class="text-center">{{unidad.sigla}}</td>
        <td class="text-center">{{unidad.Organo.nombre}}</td>
        <td *ngIf="unidad.estado===1" class="text-center">Activo</td>
      <td *ngIf="unidad.estado===0" class="text-center">Inactivo</td>
      <td class="text-center">
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modificarDependencia" data-whatever="@mdo" (click)="obtenerUnidadId(unidad.id)">
          <i class="fa fa-edit"></i>
        </button>
      </td>
      <td *ngIf="unidad.estado===0" class="text-center">
        <button type="button" class="btn btn-secondary" (click)="eliminarUnidad(unidad.id, 1)">
          <i class="fa fa-lock-open"></i>
        </button>
      </td>
      <td *ngIf="unidad.estado===1" class="text-center">
        <button type="button" class="btn btn-secondary" (click)="eliminarUnidad(unidad.id, 0)">
          <i class="fa fa-lock"></i>
        </button>
      </td>
      </tr>
    </tbody>
  </table>
      </div>
    </div>

  <div class="modal fade" id="modalDependencia" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"style="font-weight: bold;" >REGISTRAR UNIDAD ORGANICA</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="unidadForm">
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Nombre:</label>
              <input type="text" class="form-control" id="recipient-name" formControlName="nombre">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Sigla:</label>
              <input type="text" class="form-control" id="recipient-name" formControlName="sigla">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Seleccionar Organo:</label><br>
              <select class="form-control custom-select" formControlName="organo" >
                <option selected value="">Seleccionar</option>
                <option *ngFor="let organo of listOrgano" value="{{organo.id}}">{{organo.nombre}}</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelar()">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)=" registrarUnidadOrganica()" [disabled]="unidadForm.invalid">Registrar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modificarDependencia" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bold;" >EDITAR UNIDAD ORGANICA</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="unidadEditarForm">
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Nombre:</label>
              <input type="text" class="form-control" id="recipient-name" formControlName="nombre">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Sigla:</label>
              <input type="text" class="form-control" id="recipient-name" formControlName="sigla">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Seleccionar Organo:</label><br>
              <select class="form-control custom-select" formControlName="organo" >
                <option selected value="">Seleccionar</option>
                <option *ngFor="let organo of listOrgano" value="{{organo.id}}">{{organo.nombre}}</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelar()">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)=" editarUnidadOrganica()" [disabled]="unidadEditarForm.invalid">Editar</button>
        </div>
      </div>
    </div>
  </div>
