
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
<div class="row mb-5 d-flex justify-content-between">
  <div class="col-lg-4">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCargo" data-whatever="@mdo">
      <i class="fa fa-plus-square"></i> Registrar</button>
  </div>
  <div class="col-lg-3">
    <div class="form-group">
      <select class="form-control custom-select" (change)="mostrarCargoTipo($event)">
        <option value="1" selected>Habilitados</option>
        <option value="0">Deshabilitados</option>
      </select>
    </div>
  </div>
</div>


<table class="table">
    <thead>
      <tr>
        <th scope="col" class="text-center">Id</th>
        <th scope="col" class="text-center">Descripcion</th>
        <th scope="col" class="text-center">Tipo personal</th>
        <th scope="col" class="text-center">Estado</th>
        <th class="text-center">Editar</th>
        <th class="text-center">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cargo of listCargo!">
        <th scope="row" class="text-center">{{cargo.ids}}</th>
        <td >{{cargo.descripcion}}</td>
        <td class="text-center">{{cargo.TipoPersonal.titulo}}</td>
        <td *ngIf="cargo.estado===1" class="text-center">Activo</td>
        <td *ngIf="cargo.estado===0" class="text-center">Inactivo</td>
        <td class="text-center">
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modificarCargo" data-whatever="@mdo" (click)="obtenerDatosId(cargo.id)">
            <i class="fa fa-edit"></i>
          </button>
        </td>
        <td *ngIf="cargo.estado===0" class="text-center">
          <button type="button" class="btn btn-secondary" (click)="eliminarCargo(cargo.id, 1)">
            <i class="fa fa-lock-open"></i>
          </button>
        </td>
        <td *ngIf="cargo.estado===1" class="text-center">
          <button type="button" class="btn btn-secondary" (click)="eliminarCargo(cargo.id, 0)">
            <i class="fa fa-lock"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
      </div>
    </div>

  <div class="modal fade" id="modalCargo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bold;" >REGISTRAR CARGO</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="cargoForm">
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Descripcion:</label>
              <input type="text" class="form-control" id="recipient-name" formControlName="descripcion">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Seleccionar Tipo de Personal:</label><br>
              <select class="form-control custom-select" formControlName="tipo_personal" >
                <option selected value="">Seleccionar</option>
                <option *ngFor="let tipo of listTipoPersonal" value="{{tipo.id}}">{{tipo.titulo}}</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelar()">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="registrarCargo()" [disabled]="cargoForm.invalid">Registrar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modificarCargo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" style="font-weight: bold;" >EDITAR CARGO</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="cargoEditarForm">
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Descripcion:</label>
              <input type="text" class="form-control" id="recipient-name" formControlName="descripcion">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Seleccionar Tipo de Personal:</label><br>
              <select class="form-control custom-select" formControlName="tipo_personal" >
                <option selected value="">Seleccionar</option>
                <option *ngFor="let tipo of listTipoPersonal" value="{{tipo.id}}">{{tipo.titulo}}</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelar()">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="modificarCargo()" [disabled]="cargoEditarForm.invalid">Editar</button>
        </div>
      </div>
    </div>
  </div>
